.block_columns {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-width: 300px;
       column-width: 300px;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  -moz-column-rule: #333 dotted 1px;
       column-rule: #333 dotted 1px;
}

.style_background-color_gray {
  background-color: #e5e5e5;
}

.style_text_bold {
  font-weight: 600;
}

.container {
  margin: 0 auto;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}

.header__brand {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 10;
  background-color: blue;
  color: white;
}
.header__logo {
  transition: all 0.6s ease-in-out;
}
.header__logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #eee;
}
.header__logo:hover {
  transform: rotateY(180deg);
}
.header__title {
  padding-left: 1rem;
}
.header__nav {
  background-color: yellow;
  border-bottom: 3px solid black;
}
.header__nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 0 0.25rem 0;
  padding: 0;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.header__nav ul li {
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
  position: relative;
}
.header__nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.header__nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: blue;
  transition: all 0.4s ease-in-out;
}
.header__nav ul li:hover::after {
  width: 100%;
  left: 0;
}

.main__title {
  line-height: 1;
}
.main__text h3 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
}
.main__title, .main__text {
  padding: 0 2rem;
}

.footer {
  background-color: #999;
  color: #fff;
}
.footer_container {
  display: flex;
  align-items: flex-start;
}
.footer_container > * {
  flex: 1;
}
.footer a {
  color: #222;
  text-decoration: none;
}

@media all and (max-width: 600px) {
  .header__title {
    line-height: 0.95;
  }
  .main {
    padding: 1rem 0rem;
  }
  .main__image {
    height: 220px;
    background-size: cover;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  .main__image_provin {
    background-attachment: fixed;
    background-position: right 50% top 35%;
    background-image: url("../images/content-image-provin-1200.jpeg");
  }
  .main__image_poland {
    background-attachment: fixed;
    background-position: center;
    background-image: url("../images/content-image-poland-1200.jpg");
  }
  .main__image_sbu {
    background-attachment: fixed;
    background-position: center;
    background-image: url("../images/content-image-sbu-1200.jpg");
  }
  .main__image_war {
    background-attachment: fixed;
    background-position: center;
    background-image: url("../images/content-image-war-1200.jpeg");
  }
  .footer {
    padding: 2rem;
  }
  .footer_container {
    flex-direction: column;
    row-gap: 1rem;
  }
  .footer_container > *:not(:last-child) {
    padding-bottom: 0.75rem;
    border-bottom: #eee solid 1px;
  }
  .container {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .header__logo img {
    width: 90px;
    height: 90px;
  }
  .header__title {
    font-size: 1.25rem;
  }
  .header__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: #000;
    margin-top: 1rem;
  }
  .main {
    padding: 2rem 0rem;
  }
  .main__text {
    padding: 2rem;
  }
  .main__image {
    height: 260px;
    background-size: cover;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  .main__image_provin {
    background-attachment: fixed;
    background-position: right 50% bottom 80%;
    background-image: url("../images/content-image-provin-2880.jpeg");
  }
  .main__image_poland {
    background-attachment: fixed;
    background-position: right 50% top 60%;
    background-image: url("../images/content-image-poland-2880.jpg");
  }
  .main__image_sbu {
    background-attachment: fixed;
    background-position: right 50% top 60%;
    background-image: url("../images/content-image-sbu-2880.jpg");
  }
  .main__image_war {
    background-attachment: fixed;
    background-position: right 50% top 60%;
    background-image: url("../images/content-image-war-2880.jpeg");
  }
  .footer {
    padding: 2rem;
  }
  .footer_container {
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .footer_container > *:not(:last-child) {
    padding-right: 0.75rem;
    border-right: #eee solid 1px;
  }
  .container {
    width: clamp(600px, 80vw, 1200px);
  }
}/*# sourceMappingURL=style.css.map */