.block_columns {
    column-count: 3;
    column-width: 300px;
    // column-width: 300px;
    // column-fill: auto;
    column-gap: 2rem;
    column-rule: $border-color-dark dotted 1px;
}

.style_background-color_gray {
    background-color: $block-background-color;
}

.style_text_bold {
    font-weight: 600;
}

.container {
    margin: 0 auto;
}