$body-background-color: white;
$header-background-color: blue;
$brand-background-color: blue;
$nav-background-color: yellow;

$footer-background-color: #999;
$footer-color: #fff;

$column-gap-sm: 1rem;
$column-gap-md: 2rem;
$column-gap-lg: 4rem;

// $padding-left-right-sm: 1rem;
// $padding-left-right-md: 2rem;
// $padding-left-right-lg: 4rem;

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 4rem;

$border-color-light: #eee;
$border-color-dark: #333;

$block-background-color: #e5e5e5;